.content-wrapper {
    display: flex; /* 이미지와 테이블을 가로로 배치 */
    /* align-items: center; */
    justify-content: space-around; /* 요소 사이에 공간 분배 */
    animation: fadeIn 1s; /* fade-in 애니메이션 적용 */
  }
  
  .profile_image {
    max-width: 50%; /* 이미지의 최대 너비 조정 */
    height: auto; /* 비율 유지 */
  }
  
  .my_links {
    width: 40%; /* 테이블 너비 조정 */
    border-collapse: collapse; /* 테이블 경계 스타일 */
  }
  
  .my_links, .my_links th, .my_links td {
    border: 1px solid black; /* 테이블과 셀 경계 스타일 */
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  