#up {
  text-align: center;
  border: 10px solid blue;
  margin-bottom: 100px;
  margin-left: 100px;
}

#down {
  text-align: center;
  border: 10px solid red;
  padding: 100px;
}

.div1 {
  border: 5px solid green;
  text-align: center;
  margin: 5px;
}
