{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'home/home.css' %}">

<main>
  <h1> Welcome!! </h1>

  <div class="content-wrapper">
    <img src="{% static 'home/dog.jpg' %}" class="profile_image" alt="Dog Image"> 
  
    <table class="my_links">
      <tr>
        <th>플랫폼</th>
        <th>링크</th>
      </tr>
      <tr>
        <td>GitHub</td>
        <td><a href="https://github.com/pervin0527" target="_blank">pervin0527</a></td>
      </tr>
      <tr>
        <td>LinkedIn</td>
        <td><a href="https://www.linkedin.com/in/pervin0527/" target="_blank">pervin0527</a></td>
      </tr>
    </table>
  </div>

</main>

{% endblock content %}
