{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'home/home.css' %}">

<main>
  <h2> Minjun Kim </h2>
  <h3>Machine Learning Engineer</h3>

  <div class="about-section">
    <div class="about-container">
      <div class="about-title">
        <span>ABOUT ME</span>
      </div>
      <div class="about-content">
        <div class="about-profile-image">
          <img src="{% static 'home/moto.jpeg' %}" alt="Profile Image">
        </div>
        <div class="about-description">
          
          <p>여기에 자기소개 텍스트를 입력하세요...</p>
        </div>
      </div>
    </div>
  </div>
  
  

</main>   

{% endblock content %}
